/*CSS para impressão*/
@media print {

    * {
        background:transparent !important;
        color:#000 !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important;
    }

    body {
        margin:0;
        padding:0;
        line-height: 1.4em;
        font-size: 12pt;
        color: #000;
        width: 210mm;
        height: 297mm;        
    }

    @page {
        margin: 1.5cm;
        /*size: A4;*/
    }

    nav, footer, video, audio, object, embed { 
        display:none; 
    }

    .print {
        display:block;
    }

    .no-print { 
        display:none; 
    }

    img {
        max-width: 100%;
    }

    aside {
        display:block;
        page-break-before: always;
    }

    .wrap { 
        width: 100%; 
        margin: 0; 
        float: none !important; 
    }

    h1 {
        font-size: 26pt;
    }

    h2 {
        font-size: 20pt;
    }

    h3 {
        font-size: 16pt;
    }

    span {
        widows: 3;
        orphans: 3;
    }

    .page-break { 
        page-break-before: always; 
    }

    .topbar, .left-sidebar, .card-header, .page-titles, .footer{
        display: none;
    }
    .container-fluid {
        padding: 0; 
    }
    .card {
        margin-bottom: 0;
    }
}